:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Fantasy', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: skyblue;
    align-content: center;
    text-align: left;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

#game {
    width: 1000px;
    height: 500px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#top {
    background-color: grey;
    color: white;
    letter-spacing: 2px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#bottom {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#player-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#Rock {
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
}

#Paper {
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
}

#Scissors {
    width: 200px;
    height: 40px;
    background-color: blue;
    color: white;
}

#icon-rock {
    width: 100px;
    height: 100px;
}

#icon-paper {
    width: 100px;
    height: 100px;
}

#icon-scissors {
    width: 100px;
    height: 100px;
}

#scoreboard {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#scoreboard-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
